.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.roundedImg {
    border-radius: 10px;
}

.right {
    background-image: url('../../../assets/3d-background.jpg');
    width: 100%;
    background-position: -1px -1px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    margin-top: 25px;
    border-radius: 10px;
}

.left {}

.content {
    width: 100%;
}

.svg {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 25px;
}



.title {
    text-align: center;
    color: #353738;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-bottom: 25px;
}

.text {
    color: #848789;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 25px;
}

.image {}

@media (min-width: 480px) {
    .wrap {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .right {
        min-height: 350px;
    }
}

@media (min-width: 800px) {
    .left {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 15px;
    }

    .content {
        max-width: 100%;
        margin-left: 10px;
    }

    .image {
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .svg {
        margin-bottom: 10px;
    }

    .title {
        margin-bottom: 10px;
    }

    .right {
        min-height: 425px;
    }
}



@media (min-width: 1050px) {
    .wrap {
        flex-direction: row-reverse;
        padding-top: 25px;
        padding-bottom: 0;
        align-items: flex-end;
    }

    .left {
        display: block;
        margin-right: 20px;
        margin-top: 0;
    }

    .content {
        max-width: 533px;
        margin-right: 0;
    }

    .svg {
        margin-left: 0;
        display: block;
    }

    .svg {
        margin-bottom: 35px;
        margin-top: 0;
    }

    .title {
        margin-bottom: 35px;
    }

    .text {
        margin-bottom: 35px;
    }

    .right {
        height: inherit;
        margin-top: 5px;
    }

    .Three_fourth__condition {
        max-height: 148.31px;
    }
}

@media (min-width: 1700px) {}